* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(12, 12, 12);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 400;
}

path,
svg {
  pointer-events: none;
}

button,
input {
  border: 0;
  border-radius: 0;
  background: transparent;
  color: rgb(12, 12, 12);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  margin: 20px;
}

.colors {
  min-height: 90vh;
  display: flex;
}

.color {
  position: relative;
  flex: 1;
  padding: 20px;
}

.color h2 {
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls button {
  font-size: 20px;
}

.slider {
  position: relative;
}

.slider button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel button {
  margin: 0 20px;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(12, 12, 12);
}
